<section class="h-screen flex flex-col justify-center items-center w-screen">
    <h1 class="font-proximabolditalic text-5xl font-bold italic">Budgprint</h1>

    <section class="fixed bottom-0 w-full flex flex-col">
        <%= button_to 'LOG IN', new_user_session_path , class: "w-full px-5 py-3 bg-main-300", method: :get%>
        <%= button_to 'SIGN UP',new_user_registration_path, class: "w-full px-5 py-3 ", method: :get %>
    </section>
</section>


